<!DOCTYPE HTML>
<html>
<head>
  <title>Hongyan Ni♥</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../assets/css/main.css" />
  <noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <!-- Note: The "styleN" class below should match that of the banner element. -->
  <header id="header" class="alt style2">
    <a href="../index.html" class="logo"><span>◀ back</span></a>
  </header>

  <!-- Banner -->
  <!-- Note: The "styleN" class below should match that of the header element. -->
  <section id="banner" class="style2">
    <div class="inner">
      <span class="image">
          <img src="" alt="" />
      </span>
      <header class="major">
        <h1>我的组件库</h1>
      </header>
      <div class="content">
        <p>保存一些写过的组件。</p>
      </div>
    </div>
  </section>

  <!-- Main -->
  <div id="main">
    <section id="two" class="spotlights">
      <section>
        <a href="../generic.html" class="image">
          <img src="../images/colorPaletteScan.png" alt="" data-position="center center" />
        </a>
        <div class="content">
          <div class="inner">
            <header class="major">
              <h3>调色盘</h3>
            </header>
            <p>可点击、拖拽、输入rgb选择颜色，且输入框与色盘上圆点联动。</p>
            <ul class="actions">
              <li><a href="./colorPalette.html" class="button">Learn more</a></li>
            </ul>
          </div>
        </div>
      </section>
    </section>
  </div>

</div>

<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery.scrolly.min.js"></script>
<script src="../assets/js/jquery.scrollex.min.js"></script>
<script src="../assets/js/browser.min.js"></script>
<script src="../assets/js/breakpoints.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>